nav{
  background-color: rgb(110, 138, 165);
  padding: 10px;
}
nav img{
  width: 180px;
}

nav ul{
  float: right;
  list-style-type: none;
}

ul li{
  display: inline-block;
  padding: 10px;
}

li a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}