<!-- -->

<!-- interpolation va usata con {{}}, da usare sono su component.html-->
<!-- le doppie {} servono per accedere a name in app.components.ts -->
<h1 class="{{data}}">Hola, {{name}}</h1> <!-- si può usare {{}} con la classe per accedere alla proprety, con o senza "" -->
<h1>{{getVal()}}</h1> 
<h1>{{2+2+2+2+1}}</h1> 
<h1>{{num==100}}</h1> <!-- ritorna true se num è effettivamente = 100 -->
<!-- con l'interpolation NON 
1. si può assegnare valori
2. usare typeof
3. usare new
4. usare valori incrementali (num++) -->